.bold-text {
    font-weight: bold;
}

.center-text {
    text-align: center;
}

.spaced-card {
    margin: 16px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container mat-card {
    width: 450px;
    margin: 16px;
}