<mat-card class="spaced-card" appearance="outlined">
    <mat-card-content class="center-text bold-text">
        <mat-card-title>Last Updated: {{ lastModified | date: 'medium' }}</mat-card-title>
    </mat-card-content>
</mat-card>


<mat-tab-group animationDuration="0ms">
    <mat-tab *ngFor="let tab of bankData | keyvalue">
        <ng-template mat-tab-label>
            {{ tab.key | titlecase }}
        </ng-template>
        <div class="bank-content">
            <div class="card-container" *ngIf="tab.key === 'epics' || tab.key === 'spells'; else others">
                <mat-card 
                    *ngFor="let class of getClasses(tab.key); let idx = index" 
                    class="spaced-card" 
                    appearance="outlined"
                >
                    <mat-card-content class="center-text bold-text">
                        <mat-card-title>{{ class }}</mat-card-title>
                        <mat-list>
                            <mat-list-item *ngFor="let item of getCategoryItemsByClass(idx, tab.key)">
                                <h3 matLine>
                                    <a href="https://www.thjdi.cc/{{ tab.key === 'spells' ? 'spell' : 'item' }}/{{item.id}}">{{ item.name }}</a> ({{ item.count }})
                                </h3>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </mat-card>
            </div>
            <ng-template #others>
                <mat-list>
                    <mat-list-item *ngFor="let item of tab.value">
                        <h3 matLine>
                            <a href="https://www.thjdi.cc/item/{{item.id}}">{{ item.name }}</a> ({{ item.count }})
                        </h3>
                    </mat-list-item>
                </mat-list>
            </ng-template>
        </div>
    </mat-tab>
</mat-tab-group>