.count-badge {
  background: #404040;
  padding: 2px 6px;
  border-radius: 6px;
  font-size: 0.80rem;
  color: #ddd;
  text-decoration-line: none;
  margin-left: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.blue-text {
  color: rgb(35, 116, 255)
}
.gold-text {
  color: gold;
}
.green-text {
  color: rgb(0, 206, 0);
}
